.body{
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    background-color: #f4f4f466;    
}

.nav-items > ul  {
    display: flex;
}

.nav-items > ul > li {
    padding: 5px;
    list-style-type: none;
    font-size:18px;
    margin-right: 10px;
    font-weight:550;
}

.nav-items > ul > li:hover {
    color: #ff8c40; /* Yellow color on hover, adjust as needed */
    cursor: pointer;
}

.nav-items-menu{
    text-decoration: none;
    color: #333;
}

.nav-items-menu:hover{
    color: #ff8c40;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #fff; 
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); /*Shadow*/
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 4rem;
}

.logo-container{
    display: flex;
}

.res-container {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 30;
    flex-wrap: wrap;
}

.foodCard{
    width: 240px;
    /* border: 1px solid lightgrey; */
    border-radius: 15px;
    margin: 10px 10px 0px 10px auto;
    padding: 5px;
    height:45vh;
    /* background-color: #fff; */
}

.card-img{
    width: 100%;
    height: 30vh;
    border-radius: 15px;
    position: relative;  
    background-size: cover;
    background-position: center;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.card-content{
    margin-left: 10px;
}

.cost{
    position: absolute;
    bottom: 6;
    left: 7;
    margin-top: 3px;
    /* background-color: rgb(250, 194, 40); */
    color: white;
    font-weight:900;
    border-radius: 5px;
    padding: 2px 5px;
    
}

.title{
    font-size:medium;
    font-weight: bold;
}

.cuisine{
    font-size:small;
    color: grey;
}

.filter{
    display: flex;  
    justify-content: flex-start;
}

.search-box{
    display: flex;  
    justify-content: flex-end;    
}

.search-input{
    padding: 10px;
    width: 15rem;
    border: 1px solid lightgray ;
    border-radius: 5px;
}

.search-input:focus{
    border: 1px solid lightgray !important;
}

.search-btn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 5rem;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: space-between   ;
    padding: 20px 85px; /* Adjust the value as needed */
}


.filter-btn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color:#f0ded4;
    color: #333;
}

.filter-btn:hover{
    cursor: pointer;
}

.shimmer-card {
    width: 240px;
    border-radius: 15px;
    height: 30vh;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    margin-right: 20px; /* Add margin to separate cards */
    margin-bottom: 40px;
}

.shimmer-content {
    width: 100%;
    margin-bottom: 20px; /* Add margin to separate content blocks */
    margin-top:12rem;
}

.shimmer-container {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 6%;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.shimmer-text {
    width: 240px;
    height: 10px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    margin-bottom: 10px;
}

.shimmer-text.long {
    width: 70%;
}
  
/* detail page css */

.res-detail-info{
    padding: 50px;
    margin: 0 auto;
    width: 70%;    
}

.res-info{
    display: flex;
    justify-content: space-between;
    margin: auto;
    border-bottom: 1px dashed lightgrey;
    padding-bottom: 20px;
}

.detail-info{
    justify-content: flex-start;  
}

.detail-rating{
    width: 6%;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding: 10px;
    height: fit-content;
    justify-content: flex-end;
    /* margin-right: 20rem; */

}



.menu-list{

}

.rate{
    font-size: small;
    padding: 4px 0px 4px 0px;
    display: block;
    border-bottom: 1px solid lightgrey;
    color: green;
    font-weight: bolder;
}

.rate-info{
    font-size: 0.6em;
    padding: 4px 0px 4px 0px;
    margin-top: 2px;
    display: block;
    font-stretch: condensed;
    font-weight: bold;
    color:grey
}

.res-subtitle{
    font-size: 12px;
    color: gray;
}

.distance{
    margin-top: 20px;
    font-weight: bold;
}

.delivery-info{
    width: 100%;
    overflow-x: auto;
    white-space: nowrap; 
    scrollbar-width: none;  /*firefox*/
}

.delivery-info::-webkit-scrollbar {
    display: none;
}
  
.delivery-info::-webkit-scrollbar-thumb {
    display: none;
}
  
.delivery-info::-webkit-scrollbar-track {
    display: none;
}
  
.latest-offers{
    padding-top: 20px;
    display: flex; 
    gap: 25;   
    width: 100%; 
}

.offers{    
    border-radius: 10px;
    padding: 20px; 
    border: 1px solid #d3d3d3;  
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
}

.beverages{
    display: inline-block;
    transform: rotate(-90deg);
    position: absolute; 
    /* top: 50%; */
    left: -5px;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    padding: 2px;
    color: rgba(255, 68, 0, 0.709);
    /* transform-origin: top left; */
}

.offer{
    font-size: 15px; 
    margin-left: 20px; 
    color: darkslategray;
}

.offer-container {
    display: block; /* Change to block-level container */
    line-height:150%;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 12px; 
    font-weight: bold;
    display: block;
    margin-left: 1rem;
    font-stretch:extra-condensed;
    color: grey;
  }

  .vegan-header{
    padding: 20px;
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(45, 59, 59);
    border-bottom: 1px solid lightgrey;
  }

  .menu{
    display: flex;
    justify-content: space-between;
    padding: 20px;   
  }

  .left-menu{
    display: block;    
  }

  .list-menu{
    border-bottom: 1px solid lightgrey;
    padding: 20px;
  }

  .bestSeller{
    color: orange;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
  }

  .menu-title{
    margin-top: 10px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
  }

  .price{
    display: inline-block;
    padding: 5px 0px 10px 0px;
  }

  .menu-item-desc{
    color: darkgray;
    font-size: small;
    display: block;
    width: 80%;
  }

  
  .right-menu{
    float: right;
    margin-top: -100px;
  }

  .menu-image{
    position: relative;
    border:1px solid lightgrey;
    border-radius: 10px;
    height: 90px;
    width: 100px;
  }


  .counter{
    position:absolute;
    padding: 5px;
    border: 1px solid lightgray;    
    background-color:white;
    color: green;
    border-radius: 5px;
    justify-content: center;
    margin-left: 10px;
    bottom: -30;
    align-items: center;
    display: flex; /* Add this to enable flexbox layout */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    justify-items: center;
    transition: box-shadow 0.3s; /* Add a transition for smooth animation */
  }

  .qty-btn{
    border:none;
    background:none;
    cursor: pointer;    
  }

  .counter:hover{
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  }

  .user-card{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }