.wrapper {
  display: flex;
  align-items: center;
  padding: 4px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: hsl(270deg 40% 20%);
  font-size: 1.125rem;
  cursor: pointer;
  margin: auto;
  margin-top: 1rem;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  aspect-ratio: 1 / 1;
  background-color: hsl(270deg 25% 35%);
  border-radius: 4px;
  transition: background-color 200ms;
}
.childrenWrapper {
  padding: 0px 24px;
}
.wrapper:hover .iconWrapper {
  background-color: hsl(270deg 25% 40%);
}
.wrapper:active .iconWrapper {
  transform: scale(0.9);
}
