html {
  --bg: hsl(0deg 0% 94%);
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  padding: 0px;
  margin: 0;
  background: hsl(210deg 15% 6%);
  height: 100%;
}
#root {
  min-height: 100%;
  display: grid;
  place-content: center;
}